# Plantilla de Configuración de Entorno - SaludGest
# Renombra este archivo a `.env` y ajusta las variables según sea necesario.

# URL de la API REST externa para médicos de guardia (RandomUser)
VITE_API_DOCTORS_URL=VITE_API_DOCTORS_URL
